<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-body">
        <div class="text-center">
          <img class="mb-3 card__img" [src]="product.image" />
        </div>
        <!-- <h5 class="card-title">Product Id is: {{ product_id }}</h5> -->
        <h5 class="card-title"><b>Title: </b> {{ product.title }}</h5>
        <h5 class="card-title"><b>Category: </b> {{ product.category }}</h5>
        <p class="card-text"><b>Description: </b> {{ product.description }}</p>
        <p class="card-text btn-success text-center price__text"><b>Price: </b>{{ product.price | price }}</p>
        <div class="row">
         <div class="col-6 text-center">
          <button class="btn btn-danger " [disabled]="addedToCart" (click)="addToCartLocal(product)">Add To Cart</button>
         </div>
         <div class="col-6 text-center">
 
          <button class="btn btn-danger " [disabled]="!addedToCart" (click)="removeItemLocal(product_id)">remove From Cart</button>
         </div>
           
      
        </div>
      </div>
    </div>
  </div>
</div>
