.custom_nav_link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_count{
    border-radius: 50%;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-left: 2px;
}