<div class="row card__wrapper">
  <div class=" card__item col-md-4" *ngFor="let product of Products">
    <a
    
          [routerLink]="['/product-detail/', product.id]"
          class="card mb-3 card__link"
          >
      <div class="card-body row">
        <img class="col-6" [src]="product.image" />
        <div class="col-6">
          <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price | price }}</p>
        </div>
       
      </div>
 
  </a>
  <div class="col-12 button__div">
    <button class="btn btn-danger " (click)="addToCartLocal(product)">Add To Cart</button>
  </div>
  </div>
  
</div>
